<!-- Config file for the engine -->
<config>
	<engine>
		<title>Super Mario Bros</title>
		<maxFrameDuration value="16"/>
	</engine>

	<render>
		<vsync value="false"/>
	</render>

	<window>
		<resolution width="1920" height="960" scale="1"/>
		<fullscreen value="false"/>
		<borderless value="false"/>
		<resizable value="false"/>
		<fullscreen_window value="true"/>
	</window>

	<scene>
		<entities>
			
			<enemies>
				<enemy_fly name="koopa" x="192" y="400" w="32" h="48" texture_fly="Assets/Textures/koopaSprites.png" gravity="true">
					<animations>
						<idlekoopa loop="true" speed="3">
							<frame x="160" y="162" w="33" h="48"/>
							<frame x="120" y="162" w="33" h="48"/>
							<frame x="79" y="162" w="33" h="48"/>
							<frame x="39" y="162" w="33" h="48"/>
							<frame x="1" y="162" w="33" h="48"/>
							<frame x="160" y="215" w="33" h="48"/>
							<frame x="120" y="215" w="33" h="48"/>
							<frame x="79" y="215" w="33" h="48"/>
							<frame x="39" y="215" w="33" h="48"/>
							<frame x="1" y="215" w="33" h="48"/>
						</idlekoopa>
						<deadkoopa>
							<frame x="7" y="64" w="23" h="21"/>
						</deadkoopa>
					</animations>
				</enemy_fly>
				
				<enemy name="goomba" x="192" y="400" w="32" h="32" texture="Assets/Textures/goomba_walking.png" gravity="true">
					<animations>
						<dead>
							<frame x="0" y="32" w="32" h="32"/>
						</dead>
						<idle loop="true" speed ="2">
							<frame x="0" y="0" w="32" h="32"/>


							<frame x="32" y="0" w="32" h="32"/>


							<frame x="64" y="0" w="32" h="32"/>
						</idle>
						<dead>
						
						</dead>
					</animations>
				</enemy>
			</enemies>
		</entities>
	</scene>>
	
</config>