<?xml version="1.0"?>
<config>
	<engine>
		<title>Super Mario Bros</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1850" height="1050" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<SaveFile level="1" playerX="30" playerY="430" enemy1X="1500" enemy2X="4500" enemy3X="2000" enemy4X="5500" enemy1Y="100" enemy2Y="100" enemy3Y="415" enemy4Y="415" checkpoint="false" lives="3" time="9750.75977" />
		<map path="Assets/Maps/" name="Background.tmx" />
		<map2 path="Assets/Maps/" name="Map2.tmx" />
		<map3 path="Assets/Maps/" name="Map3.tmx" />
		<textures>
			<mainMenu path="Assets/Textures/mainMenu.png" />
			<title path="Assets/Textures/title.png" />
			<helpMenu path="Assets/Textures/Help_Menu.png" />
			<gameOver path="Assets/Textures/gameOver.png" />
			<GroupLogo path="Assets/Textures/Logo.png" />
			<black path="Assets/Textures/black.png" />
			<settings path="Assets/Textures/settings.png" />
			<tick path="Assets/Textures/tick.png" />
			<menu_pause path="Assets/Textures/pause menu.png" />
		</textures>
		<entities>
			<items>
				<item name="coin" x="1600" y="768" w="64" h="64" isPicked="0" texture="Assets/Textures/Coin.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="64" h="64" />
						</idle>
					</animations>
				</item>
				<bigcoin name="BigCoin" x="1600" y="768" w="64" h="64" isPicked="0" texture="Assets/Textures/BigCoin.png" gravity="false">&gt;
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="64" h="64" />
							<frame x="64" y="0" w="64" h="64" />
							<frame x="128" y="0" w="64" h="64" />
							<frame x="192" y="0" w="64" h="64" />
						</idle>
					</animations>
				</bigcoin>
				<flag name="flag" x="3248" y="384" w="36" h="64" texture_flag="Assets/Textures/flag.png" gravity="false">
					<animations>
						<idle_flag loop="true" speed="1">
							<frame x="0" y="0" w="36" h="64" />
						</idle_flag>
						<lower_flag loop="true" speed="1">
							<frame x="0" y="128" w="36" h="64" />
						</lower_flag>
						<lower_lower_flag loop="true" speed="1">
							<frame x="0" y="320" w="36" h="64" />
						</lower_lower_flag>
					</animations>
				</flag>
				<flagpole name="flagpole" x="3232" y="384" w="24" h="64" texture_flagpole="Assets/Textures/flagpole.png" gravity="false">
					<animations>
						<idle_flagpole loop="true" speed="1">
							<frame x="0" y="0" w="24" h="64" />
						</idle_flagpole>
					</animations>
				</flagpole>
			</items>
			<player name="mario" x="271" y="431" w="32" h="40" texture_player="Assets/Textures/player.png" gravity="true">
				<animations>
					<idle loop="false">
						<frame x="2" y="8" w="28" h="40" />
					</idle>
					<idleL loop="false">
						<frame x="2" y="56" w="28" h="40" />
					</idleL>
					<walking loop="true" speed="0.135">
						<frame x="2" y="8" w="28" h="40" />
						<frame x="33" y="10" w="30" h="38" />
					</walking>
					<walkingL loop="true" speed="0.135">
						<frame x="2" y="56" w="28" h="40" />
						<frame x="33" y="58" w="30" h="38" />
					</walkingL>
					<jumping loop="false" speed="0.5">
						<frame x="64" y="8" w="32" h="40" />
						<frame x="96" y="4" w="32" h="44" />
					</jumping>
					<jumpingL loop="false" speed="0.5">
						<frame x="64" y="56" w="32" h="40" />
						<frame x="96" y="52" w="32" h="44" />
					</jumpingL>
					<die loop="false">
						<frame x="160" y="0" w="32" h="48" />
					</die>
					<crouchL loop="false">
						<frame x="129" y="60" w="30" h="38" />
					</crouchL>
					<crouchR loop="false">
						<frame x="128" y="10" w="30" h="38" />
					</crouchR>
				</animations>
			</player>
			<enemies>
				<enemy_koopa name="koopa" x="1500" y="100" w="80" h="85" hitcount="0" texture_koopa="Assets/Textures/koopaSprites.png" gravity="false">
					<animations>
						<idlekoopaL loop="true" speed="0.25">
							<frame x="240" y="334" w="72" h="72" />
							<frame x="158" y="340" w="76" h="58" />
							<frame x="78" y="338" w="76" h="62" />
							<frame x="2" y="330" w="68" h="78" />
							<frame x="318" y="434" w="76" h="72" />
							<frame x="236" y="438" w="80" h="62" />
							<frame x="160" y="438" w="72" h="64" />
							<frame x="84" y="430" w="66" h="80" />
							<frame x="0" y="436" w="72" h="74" />
						</idlekoopaL>
						<idlekoopaR loop="true" speed="0.25">
							<frame x="407" y="325" w="60" h="92" />
							<frame x="481" y="335" w="72" h="72" />
							<frame x="559" y="341" w="76" h="58" />
							<frame x="639" y="339" w="76" h="62" />
							<frame x="723" y="331" w="68" h="78" />
							<frame x="399" y="435" w="77" h="72" />
							<frame x="477" y="439" w="80" h="62" />
							<frame x="561" y="439" w="72" h="64" />
							<frame x="643" y="431" w="66" h="80" />
							<frame x="721" y="437" w="72" h="66" />
						</idlekoopaR>
						<deadkoopa>
							<frame x="20" y="134" w="64" h="60" />
						</deadkoopa>
						<idlewinglesskoopa>
							<frame x="414" y="0" w="44" h="60" />
						</idlewinglesskoopa>
						<idlewinglesskoopaL>
							<frame x="334" y="0" w="44" h="60" />
						</idlewinglesskoopaL>
					</animations>
				</enemy_koopa>
				<enemy_koopa2 name="koopa2" x="4500" y="100" w="80" h="85" hitcount="0" texture_koopa="Assets/Textures/koopaSprites.png" gravity="false">
					<animations>
						<idlekoopaL loop="true" speed="0.25">
							<frame x="240" y="334" w="72" h="72" />
							<frame x="158" y="340" w="76" h="58" />
							<frame x="78" y="338" w="76" h="62" />
							<frame x="2" y="330" w="68" h="78" />
							<frame x="318" y="434" w="76" h="72" />
							<frame x="236" y="438" w="80" h="62" />
							<frame x="160" y="438" w="72" h="64" />
							<frame x="84" y="430" w="66" h="80" />
							<frame x="0" y="436" w="72" h="74" />
						</idlekoopaL>
						<idlekoopaR loop="true" speed="0.25">
							<frame x="407" y="325" w="60" h="92" />
							<frame x="481" y="335" w="72" h="72" />
							<frame x="559" y="341" w="76" h="58" />
							<frame x="639" y="339" w="76" h="62" />
							<frame x="723" y="331" w="68" h="78" />
							<frame x="399" y="435" w="77" h="72" />
							<frame x="477" y="439" w="80" h="62" />
							<frame x="561" y="439" w="72" h="64" />
							<frame x="643" y="431" w="66" h="80" />
							<frame x="721" y="437" w="72" h="66" />
						</idlekoopaR>
						<deadkoopa>
							<frame x="20" y="134" w="64" h="60" />
						</deadkoopa>
						<idlewinglesskoopa>
							<frame x="414" y="0" w="44" h="60" />
						</idlewinglesskoopa>
						<idlewinglesskoopaL>
							<frame x="334" y="0" w="44" h="60" />
						</idlewinglesskoopaL>
					</animations>
				</enemy_koopa2>
				<enemy name="goomba" x="2000" y="400" w="32" h="32" hitcount="0" texture="Assets/Textures/goomba_walking.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
						</idle>
						<dead>
							<frame x="0" y="32" w="32" h="32" />
						</dead>
					</animations>
				</enemy>
				<enemy2 name="goomba2" x="5500" y="400" w="32" h="32" hitcount="0" texture="Assets/Textures/goomba_walking.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
						</idle>
						<dead>
							<frame x="0" y="32" w="32" h="32" />
						</dead>
					</animations>
				</enemy2>
				<enemy_bowser name="bowser" x="3000" y="400" w="102" h="117" hitcount="0" texture_bowser="Assets/Textures/Bowser.png" gravity="true">
					<animations>
						<idleBowserL loop="true" speed="0.05">
							<frame x="1032" y="528" w="99" h="123" />
						</idleBowserL>
						<idleBowserR loop="true" speed="0.05">
							<frame x="1153" y="528" w="99" h="123" />
						</idleBowserR>
						<attackL loop="false" speed="0.06">
							<frame x="243" y="192" w="96" h="123" />
							<frame x="393" y="192" w="90" h="123" />
							<frame x="507" y="191" w="120" h="124" />
						</attackL>
						<attackR loop="false" speed="0.06">
							<frame x="536" y="522" w="96" h="123" />
							<frame x="392" y="522" w="90" h="123" />
							<frame x="248" y="521" w="120" h="124" />
						</attackR>
						<walkBowserL loop="true" speed="0.07">
							<frame x="21" y="27" w="102" h="120" />
							<frame x="165" y="24" w="102" h="123" />
							<frame x="309" y="30" w="102" h="117" />
							<frame x="453" y="24" w="102" h="123" />
						</walkBowserL>
						<walkBowserR loop="true" speed="0.07">
							<frame x="648" y="1029" w="102" h="120" />
							<frame x="504" y="1026" w="102" h="123" />
							<frame x="360" y="1032" w="102" h="117" />
							<frame x="216" y="1026" w="102" h="123" />
						</walkBowserR>
						<deadBowserL loop="false" speed="0.1">
							<frame x="213" y="1347" w="90" h="126" />
							<frame x="330" y="1347" w="99" h="126" />
							<frame x="461" y="1359" w="123" h="114" />
							<frame x="627" y="1359" w="123" h="114" />
							<frame x="774" y="1355" w="120" h="118" />
						</deadBowserL>
						<deadBowserR loop="false" speed="0.1">
							<frame x="775" y="1155" w="90" h="126" />
							<frame x="649" y="1155" w="99" h="126" />
							<frame x="494" y="1167" w="123" h="114" />
							<frame x="328" y="1167" w="123" h="114" />
							<frame x="184" y="1163" w="120" h="118" />
						</deadBowserR>
					</animations>
				</enemy_bowser>
			</enemies>
		</entities>
	</scene>
</config>
